.m-i{
	background-color:#fafafa;
	max-width:1600px;
}

.m-i.makesans, .m-i .makesans, .m-i .makesans *{
	font-family: franklin-gothic-urw,helvetica,sans-serif;
}

.m-i select{
	outline:none;
	background:none;
	background-color:transparent;
	padding:0.35em 0.5em 0.25em 0.5em;
	border:1px solid #aaaaaa;
	max-width:100%;
	font-size:1em;
}

.m-i p{
	margin:0em 0em 0em 0em;
}

@media (min-width:0px){
	.m-i .margin-15{margin:1em;}
}

@media (min-width:640px){
	.m-i .margin-15{margin:1em 15%;}
}
